# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Optional: large folders you may not want to push
plots/
saved_models/
